@model EjemploMVC.Models.Asignacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asignacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miembro.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miembro.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarea.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarea.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
